/*
PALETTE
1A1A1D
2A1B3D
D83F87
44318D
8DA7BE
59B654
*/

/*
ALT PALETTE
2E4057
66A182
CAFFB9
AEF78E
91F466
*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1A1A1D;
  color: white;
  font-family: 'Roboto+Mono', monospace;
}

/* General-use */
.centeredbox { /* Flexbox where everythign is center aligned */
  display: flex;
  align-items: center;
  justify-content: center;
}
.centeredboxfeature { /* Flexbox where everythign is center aligned */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25252A;
  flex-direction: column;
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding-top: 0px;
  z-index: 998;
}
.leftbox { /* Flexbox where everything is left aligned */
  display: flex;
  align-items: left;
  justify-content: left;
}


/* Item-specific stuff */
.titletext {
  font-size: xx-large;
}
.profile { /* Profile picture */
  border-radius: 50%;
  max-width: 25%;
  height: auto;
  padding: 100px;
}
.projectitem {
  padding: 20px;
  width: 100%;
  margin: 10px;
  max-width: 30%;
}
.projectitem img {
  width: 100%;
  height: 100%;
}
.projectitem ul {
  color: #c77dff;
  font-weight: bold;
  font-size: large;
}
.centerednav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: #1A1A1D;
}
.centerednav li a {
  color: white;
  font-size: x-large;
  padding: 15px 20px;
  text-decoration: none;
}
.centerednav li a:hover {
  color: #c77dff;
}
.centerednav .active {
  color: #9d4edd;
}
.centeredicons {
  padding-left: 0;
  padding-right: 60px;
  color: white;
  text-decoration: none;
}
.centeredicons a {
  color: white;
  text-decoration: none;
}
.centeredicons:hover {
  color: #c77dff;
}

/* Styling text */
.highlight_dark { /* For bolding important stuff */
  /* color: #D83F87; */
  color: #9d4edd;
  font-weight: bold;
}
.highlight_light { /* For bolding important stuff */
  /* color: #59B654; */
  color: #c77dff;
  font-weight: bold;
}
.highlight_featured { /* For bolding important stuff */
  /* color: #59B654; */
  color: #9d4edd;
  font-weight: bold;
  padding-top: 15px;
}
.whitelink {
  color: white;
  text-decoration: none;
}

/* Animations */
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fade1s {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 1s;
}
.fade2s {
  opacity: 0;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-delay: 2s;
}





@media (max-width: 800px) {
  .centeredbox {
    flex-direction: column;
  }
  .profile {
    padding: 20px;
    max-width: 75%;
  }
  .projectitem {
    max-width: 80%;
    padding: 10px;
  }
}